.root-skilss {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px 90px;
  gap: 20px;
}

.skill-label {
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  color: white;
}

.sections {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  gap: 70px;

  .left {
    gap: 150px;
  }

  .right {
    gap: 150px;
  }
}

.section {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

.section::after {
  display: flex;
  gap: 100px;
  position: absolute;
  left: 100%;
  top: 0;
}

.section.left {
  animation: scroll-left 10s linear infinite alternate;
}

.section.right {
  animation: scroll-right 10s linear infinite alternate;
}

.skill {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.skill img {
  height: 30px;
  width: 30px;
}

.text {
  font-size: 18px;
  color: white;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-70%);
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 430px) {
  .root-skilss {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    gap: 20px;

    .skill-label {
      font-size: 25px;
      font-weight: bold;
      justify-content: center;
      text-align: center;
      color: white;
    }

    .sections {
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      gap: 50px;

      .left {
        gap: 80px;
      }

      .right {
        gap: 80px;
      }

      .section {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        display: inline-flex;
      }

      .section::after {
        display: flex;
        gap: 50px;
        position: absolute;
        left: 100%;
        top: 0;
      }

      .section.left {
        animation: scroll-left 5s linear infinite alternate;
      }

      .section.right {
        animation: scroll-right 5s linear infinite alternate;
      }

      .skill {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
      }

      .skill img {
        height: 30px;
        width: 30px;
      }

      .text {
        font-size: 18px;
        color: white;
      }
    }
  }
}
