.root-home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px 90px;
  gap: 6px;

  .line {
    width: 100%;
    height: 0.3px;
    background: #625b5b;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .upper-logo {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transform: scale(0.4);
      cursor: pointer;

      a {
        text-decoration: none;
      }

      .logo-bracket {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 8px;
        color: white;

        .logo {
          height: 60px;
          margin: 20px 20px 0px 20px;
        }

        .bracket {
          display: flex;
          transform: scale(9);
          justify-content: center;
          align-items: center;

          .arrow-down {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            .arrow-down img {
              height: 20px;
              width: 20px;
            }
          }
        }
      }
    }

    .tab-bar {
      display: flex;
      justify-content: center;
      align-items: center;

      .tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        .tab {
          padding: 5px 10px;
          border-radius: 5px;
          border: none;
          display: flex;
          cursor: pointer;
          transition: background 0.4s ease;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          font-family: "Source Code Pro", monospace;
          text-decoration: none;
          color: white;
          .button {
            background: none;
            border: none;
            cursor: pointer;
          }
        }

        .tab:hover {
          background: #222222be;
          transition: background 0.4s ease;
          transform: scale(1.1);
          font-weight: bold;
        }
      }
    }

    /* MOBILE MENU */
    .mobile-menu {
      display: none;
      position: relative;
      z-index: 999;

      .dots {
        font-size: 32px;
        color: white;
        cursor: pointer;
        padding: 4px;
        user-select: none;

        img {
          height: 20px;
          width: 25px;
          color: var(--p-color);
        }
      }

      .dropdown {
        display: none;
        z-index: 9999;
        position: absolute;
        top: 40px;
        right: 0;
        background: #2b2929;
        border-radius: 6px;
        overflow: hidden;
        min-width: 120px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

        .dropdown-item {
          display: block;
          padding: 10px;
          color: white;
          text-decoration: none;
          font-family: "Source Code Pro", monospace;
          cursor: pointer;

          &:hover {
            background: #222222be;
          }
        }
      }

      &:hover .dropdown {
        display: block;
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

  .content-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 6px;
    color: white;
    font-family: "Source Code Pro", monospace;

    .label-pfp {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 80px;

      .img-label {
        position: relative;
        padding: 5px 0;
        background-image: url("/icons/dot-bg.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left center;
        display: flex;
        flex-direction: column;
      }
      .pfp {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: 100;
        /* pointer-events: none; */
        cursor: pointer;
        img {
          width: 160px;
          height: 160px;
        }
      }

      .pfp:hover {
        transform: scale(1.1);
        transition: transform 0.4s ease;
      }
    }

    .c1 {
      font-weight: bold;
      margin-top: 15px;
      font-size: 20px;
      color: var(--p-color);
    }

    .c3 {
      font-size: 20px;
      margin-top: 20px;
      color: white;
      .c3-1 {
        color: var(--p-color);
        font-weight: bold;
        font-size: 25px;
      }
    }

    .c4 {
      margin-top: 10px;
      font-size: 16px;
      color: white;
    }

    .c5 {
      margin-top: 10px;
      font-size: 16px;
      color: white;
      .c6 {
        text-decoration: none;
        color: #26667f;
      }
    }
  }

  .lower-bar {
    display: flex;
    justify-content: center;
    align-items: center;

    .tabs {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .tab {
        background: #2b2929;
        padding: 5px 10px;
        border-radius: 5px;
        border: none;
        display: flex;
        cursor: pointer;
        transition: background 0.4s ease;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        font-family: "Source Code Pro", monospace;
        text-decoration: none;

        img {
          height: 15px;
          width: 15px;
          margin-right: 6px;
        }
        .button {
          background: none;
          border: none;
          cursor: pointer;
          color: var(--p-color);
        }
      }

      .tab:hover {
        background: #222222be;
        transition: background 0.4s ease;
        transform: scale(1.1);
        font-weight: bold;
      }
    }
  }
}

.c2 {
  font-size: 110px;
  color: white;
  font-weight: bold;
  display: flex;
  gap: 2px;
  cursor: pointer;
}

.letter {
  display: inline-block;
}

.c2:hover .letter {
  animation: letterPop 0.5s ease forwards;
}

.c2:hover .letter:nth-child(1) {
  animation-delay: 0s;
}
.c2:hover .letter:nth-child(2) {
  animation-delay: 0.05s;
}
.c2:hover .letter:nth-child(3) {
  animation-delay: 0.1s;
}
.c2:hover .letter:nth-child(4) {
  animation-delay: 0.15s;
}
.c2:hover .letter:nth-child(5) {
  animation-delay: 0.2s;
}
.c2:hover .letter:nth-child(6) {
  animation-delay: 0.25s;
}
.c2:hover .letter:nth-child(7) {
  animation-delay: 0.3s;
}
.c2:hover .letter:nth-child(8) {
  animation-delay: 0.35s;
}
.c2:hover .letter:nth-child(9) {
  animation-delay: 0.4s;
}
.c2:hover .letter:nth-child(10) {
  animation-delay: 0.45s;
}
.c2:hover .letter:nth-child(11) {
  animation-delay: 0.5s;
}
.c2:hover .letter:nth-child(12) {
  animation-delay: 0.55s;
}

/* click animation */
.c2.clicked-animate .letter {
  animation: letterPop 0.5s ease forwards;
}
.c2.clicked-animate .letter:nth-child(1) {
  animation-delay: 0s;
}
.c2.clicked-animate .letter:nth-child(2) {
  animation-delay: 0.05s;
}
.c2.clicked-animate .letter:nth-child(3) {
  animation-delay: 0.1s;
}
.c2.clicked-animate .letter:nth-child(4) {
  animation-delay: 0.15s;
}
.c2.clicked-animate .letter:nth-child(5) {
  animation-delay: 0.2s;
}
.c2.clicked-animate .letter:nth-child(6) {
  animation-delay: 0.25s;
}
.c2.clicked-animate .letter:nth-child(7) {
  animation-delay: 0.3s;
}
.c2.clicked-animate .letter:nth-child(8) {
  animation-delay: 0.35s;
}
.c2.clicked-animate .letter:nth-child(9) {
  animation-delay: 0.4s;
}
.c2.clicked-animate .letter:nth-child(10) {
  animation-delay: 0.45s;
}
.c2.clicked-animate .letter:nth-child(11) {
  animation-delay: 0.5s;
}
.c2.clicked-animate .letter:nth-child(12) {
  animation-delay: 0.55s;
}
/* click animation */

@keyframes letterPop {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1.5) translateY(-20px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

.letter.clicked {
  animation: letterPop 0.5s ease forwards;
}

.logo.animate {
  animation: popAndShake 1s ease forwards;
}

@keyframes popAndShake {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.3); /* grow */
  }
  40% {
    transform: scale(1.32) rotate(0deg);
  }
  50% {
    transform: scale(1.34) rotate(2deg); /* shake right */
  }
  60% {
    transform: scale(1.36) rotate(-3deg); /* shake left */
  }
  70% {
    transform: scale(1.34) rotate(4deg);
  }
  80% {
    transform: scale(1.32) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0deg); /* back to normal */
  }
}

.pfp-wrapper {
  position: relative;
  width: 160px;
  height: 160px;
  display: grid;
  place-items: center;
}

/* profile picture */
.pfp {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 2;
}

/* rotating disc container */
.rotating-disc {
  position: absolute;
  width: 180px;
  height: 180px;
  animation: spin 8s linear infinite;
}

/* common arc styles */
.arc {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 2px solid transparent;
}

/* full arc */
.arc1 {
  border-top: 2px solid var(--p-color);
  border-left: 2px solid var(--p-color);
  border-right: 2px solid var(--p-color);
  transform: rotate(0deg);
  clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 80% 50%, 80% 20%, 50% 20%);
  /* transform: rotate(0deg); */
}

/* half arc */
.arc2 {
  border-top: 2px solid var(--p-color);
  border-right: 2px solid var(--p-color);
  transform: rotate(120deg);
  clip-path: polygon(100% 50%, 100% 100%, 50% 100%, 50% 80%, 80% 80%, 80% 50%);
  /* transform: rotate(120deg); */
}

/* small arc */
.arc3 {
  border-left: 2px solid var(--p-color);
  border-bottom: 2px solid var(--p-color);
  transform: rotate(210deg);
  clip-path: polygon(50% 100%, 0% 100%, 0% 50%, 20% 50%, 20% 80%, 50% 80%);
  /* transform: rotate(210deg); */
}

/* tiny arc */
.arc4 {
  border-top: 2px solid var(--p-color);
  transform: rotate(300deg);
  clip-path: polygon(0% 50%, 0% 0%, 50% 0%, 50% 20%, 20% 20%, 20% 50%);
  /* transform: rotate(300deg); */
}

/* rotation animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* media query */
@media (max-width: 430px) {
  .root-home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: clamp(20px, 8vw, 90px);

    .line {
      width: 100%;
      height: 0.3px;
      background: #625b5b;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .upper-logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transform: scale(0.4);
        cursor: pointer;

        a {
          text-decoration: none;
        }

        .logo-bracket {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 8px;
          color: white;

          .logo {
            height: 60px;
            margin: 20px 20px 0px 20px;
          }

          .bracket {
            display: flex;
            transform: scale(9);
            justify-content: center;
            align-items: center;

            .arrow-down {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: 10px;
              .arrow-down img {
                height: 20px;
                width: 20px;
              }
            }
          }
        }
      }

      .tab-bar {
        .desktop-tabs {
          display: none; /* hide normal tabs */
        }

        .mobile-menu {
          display: block; /* show dots */
          z-index: 999;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      align-items: center;

      .content-text {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 5px;
        color: white;
        font-family: "Source Code Pro", monospace;

        .label-pfp {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          .img-label {
            position: relative;
            padding: 5px 0;
            background-image: url("/icons/dot-bg.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: left center;
            display: flex;
            flex-direction: column;
          }
          .pfp {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            z-index: 100;
            pointer-events: none;
            img {
              width: 150px;
              height: 150px;
            }
          }
        }

        .c1 {
          font-weight: bold;
          margin-top: 15px;
          font-size: 20px;
          color: var(--p-color);
        }

        .c3 {
          font-size: 20px;
          margin-top: 20px;
          color: white;
          .c3-1 {
            color: var(--p-color);
            font-weight: bold;
            font-size: 25px;
          }
        }

        .c4 {
          margin-top: 10px;
          font-size: 16px;
          color: white;
        }

        .c5 {
          margin-top: 10px;
          font-size: 16px;
          color: white;
          .c6 {
            text-decoration: none;
            color: #26667f;
          }
        }
      }
      .lower-bar {
        display: flex;
        justify-content: center;
        align-items: center;

        .tabs {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;

          .tab {
            background: #2b2929;
            padding: 5px 10px;
            border-radius: 5px;
            border: none;
            display: flex;
            cursor: pointer;
            transition: background 0.4s ease;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            font-family: "Source Code Pro", monospace;
            text-decoration: none;

            img {
              height: 15px;
              width: 15px;
              margin-right: 6px;
            }
            .button {
              background: none;
              border: none;
              cursor: pointer;
              color: var(--p-color);
            }
          }

          .tab:hover {
            background: #222222be;
            transition: background 0.4s ease;
            transform: scale(1.1);
            font-weight: bold;
          }
        }
      }
    }
  }

  .c2 {
    font-size: 40px;
    color: white;
    font-weight: bold;
    display: flex;
    gap: 2px;
    cursor: default;
    flex-wrap: wrap;
    white-space: normal;
    width: 70%;
  }

  .letter {
    display: inline-block;
  }

  .c2:hover .letter {
    animation: letterPop 0.5s ease forwards;
  }

  .c2:hover .letter:nth-child(1) {
    animation-delay: 0s;
  }
  .c2:hover .letter:nth-child(2) {
    animation-delay: 0.05s;
  }
  .c2:hover .letter:nth-child(3) {
    animation-delay: 0.1s;
  }
  .c2:hover .letter:nth-child(4) {
    animation-delay: 0.15s;
  }
  .c2:hover .letter:nth-child(5) {
    animation-delay: 0.2s;
  }
  .c2:hover .letter:nth-child(6) {
    animation-delay: 0.25s;
  }
  .c2:hover .letter:nth-child(7) {
    animation-delay: 0.3s;
  }
  .c2:hover .letter:nth-child(8) {
    animation-delay: 0.35s;
  }
  .c2:hover .letter:nth-child(9) {
    animation-delay: 0.4s;
  }
  .c2:hover .letter:nth-child(10) {
    animation-delay: 0.45s;
  }
  .c2:hover .letter:nth-child(11) {
    animation-delay: 0.5s;
  }
  .c2:hover .letter:nth-child(12) {
    animation-delay: 0.55s;
  }

  /* click animation */
  .c2.clicked-animate .letter {
    animation: letterPop 0.5s ease forwards;
  }
  .c2.clicked-animate .letter:nth-child(1) {
    animation-delay: 0s;
  }
  .c2.clicked-animate .letter:nth-child(2) {
    animation-delay: 0.05s;
  }
  .c2.clicked-animate .letter:nth-child(3) {
    animation-delay: 0.1s;
  }
  .c2.clicked-animate .letter:nth-child(4) {
    animation-delay: 0.15s;
  }
  .c2.clicked-animate .letter:nth-child(5) {
    animation-delay: 0.2s;
  }
  .c2.clicked-animate .letter:nth-child(6) {
    animation-delay: 0.25s;
  }
  .c2.clicked-animate .letter:nth-child(7) {
    animation-delay: 0.3s;
  }
  .c2.clicked-animate .letter:nth-child(8) {
    animation-delay: 0.35s;
  }
  .c2.clicked-animate .letter:nth-child(9) {
    animation-delay: 0.4s;
  }
  .c2.clicked-animate .letter:nth-child(10) {
    animation-delay: 0.45s;
  }
  .c2.clicked-animate .letter:nth-child(11) {
    animation-delay: 0.5s;
  }
  .c2.clicked-animate .letter:nth-child(12) {
    animation-delay: 0.55s;
  }
  /* click animation */

  .letter.clicked {
    animation: letterPop 0.5s ease forwards;
  }

  .logo.animate {
    animation: popAndShake 0.9s ease forwards;
  }

  @keyframes popAndShake {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1.3); /* grow */
    }
    40% {
      transform: scale(1.3) rotate(0deg);
    }
    50% {
      transform: scale(1.3) rotate(3deg); /* shake right */
    }
    60% {
      transform: scale(1.3) rotate(-3deg); /* shake left */
    }
    70% {
      transform: scale(1.3) rotate(2deg);
    }
    80% {
      transform: scale(1.3) rotate(-2deg);
    }
    100% {
      transform: scale(1) rotate(0deg); /* back to normal */
    }
  }
  .pfp-wrapper {
    position: relative;
    width: 160px;
    height: 140px;
    display: grid;
    place-items: center;
    margin-top: 20px;
  }

  /* profile picture */
  .pfp {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2;
  }

  /* rotating disc container */
  .rotating-disc {
    position: absolute;
    width: 180px;
    height: 180px;
    animation: spin 8s linear infinite;
  }

  /* common arc styles */
  .arc {
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 2px solid transparent;
  }

  /* full arc */
  .arc1 {
    border-top: 2px solid var(--p-color);
    border-left: 2px solid var(--p-color);
    border-right: 2px solid var(--p-color);
    transform: rotate(0deg);
    clip-path: polygon(50% 0%, 100% 0%, 100% 50%, 80% 50%, 80% 20%, 50% 20%);
    /* transform: rotate(0deg); */
  }

  /* half arc */
  .arc2 {
    border-top: 2px solid var(--p-color);
    border-right: 2px solid var(--p-color);
    transform: rotate(120deg);
    clip-path: polygon(
      100% 50%,
      100% 100%,
      50% 100%,
      50% 80%,
      80% 80%,
      80% 50%
    );
    /* transform: rotate(120deg); */
  }

  /* small arc */
  .arc3 {
    border-left: 2px solid var(--p-color);
    border-bottom: 2px solid var(--p-color);
    transform: rotate(210deg);
    clip-path: polygon(50% 100%, 0% 100%, 0% 50%, 20% 50%, 20% 80%, 50% 80%);
    /* transform: rotate(210deg); */
  }

  /* tiny arc */
  .arc4 {
    border-top: 2px solid var(--p-color);
    transform: rotate(300deg);
    clip-path: polygon(0% 50%, 0% 0%, 50% 0%, 50% 20%, 20% 20%, 20% 50%);
    /* transform: rotate(300deg); */
  }

  /* rotation animation */
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
