.root-projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  padding: 20px 90px;
  gap: 10px;
}
.projects-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.timeline-line {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 2px;
  background: var(--p-color);
  left: 50%;
}

.project {
  width: 50%;
  padding: 10px 10px;
  position: relative;
}

.project.left {
  text-align: left;
}

.project.right {
  margin-left: 50%;
  text-align: left;
}

.project::before {
  content: "";
  position: absolute;
  top: 50px;
  width: 15px;
  height: 15px;
  background: var(--p-color);
  border-radius: 50%;
  border: 3px solid white;
}

.project.left::before {
  right: -12px;
}

.project.right::before {
  left: -12px;
}

.project .content {
  background: #141414;
  padding: 10px 15px;
  border-radius: 6px;
  color: white;
  border: 1px solid #333;
  box-shadow: 0 0 10px #0003;
}

.project h2 {
  font-size: 24px;
  color: var(--p-color);
}

.project-label {
  font-size: 30px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  color: white;
}

@media (max-width: 430px) {
  .root-projects {
    padding: 10px;
    width: 100%;
  }
  .project h2 {
    font-size: 15px;
    color: var(--p-color);
  }
  .project-label {
  font-size: 25px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  color: white;
}

  .content p{
    font-size: 12px;
  }
}
