.root-about {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
  padding: 20px 90px;

  .desc {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .header {
      font-size: 30px;
      font-weight: bold;
      align-items: start;
      color: white;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;

      img {
        height: 30px;
        width: 25px;
      }
    }

    .first-text {
      font-size: 16px;
      color: white;
      padding: 5px;
    }

    .second-text {
      font-size: 16px;
      color: white;
      padding: 5px;
    }

    .third-text {
      font-size: 16px;
      color: white;
      padding: 5px;
    }
  }

  .table-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    transform: scale(0.8);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;
  }
}

@media (max-width: 430px) {
  .root-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* gap: 10px; */
    justify-content: center;
    padding: 20px 20px;
    align-items: center;

    .header {
      font-size: 25px;
      font-weight: bold;
      align-items: start;
      color: white;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;

      img {
        height: 30px;
        width: 25px;
      }
    }

    .first-text {
      font-size: 15px;
      color: white;
      padding: 5px;
    }

    .second-text {
      font-size: 15px;
      color: white;
      padding: 5px;
    }

    .third-text {
      font-size: 15px;
      color: white;
      padding: 5px;
    }

    .desc {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    .table-img {
      transform: scale(1.1);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      margin-top: unset;
    }
  }
}
